
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Testing-Sirius.iml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/EnterEmail.cpython-38.pyc
__pycache__/EnterPassword.cpython-38.pyc
__pycache__/EnterUserName.cpython-38.pyc
__pycache__/NavBar.cpython-38.pyc
__pycache__/Register.cpython-38.pyc
__pycache__/TweetComp.cpython-38.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Testing-Sirius.iml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/EnterEmail.cpython-38.pyc
__pycache__/EnterPassword.cpython-38.pyc
__pycache__/EnterUserName.cpython-38.pyc
__pycache__/NavBar.cpython-38.pyc
__pycache__/Register.cpython-38.pyc
__pycache__/TweetComp.cpython-38.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Testing-Sirius.iml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/EnterEmail.cpython-38.pyc
__pycache__/EnterPassword.cpython-38.pyc
__pycache__/EnterUserName.cpython-38.pyc
__pycache__/NavBar.cpython-38.pyc
__pycache__/Register.cpython-38.pyc
__pycache__/TweetComp.cpython-38.pyc
*.pyc
